<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjOXqoVYjo5Vq7foi_pnqkLgYnVxOSQTg</string>
	<key>GCM_SENDER_ID</key>
	<string>465544903690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acrossmena.camion</string>
	<key>PROJECT_ID</key>
	<string>camion-b2672</string>
	<key>STORAGE_BUCKET</key>
	<string>camion-b2672.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465544903690:ios:2d0097dbc65404e4e3f3f3</string>
</dict>
</plist>